Thumbs.db

Nucleo-h743zi2/build/nuc-h7-uvc.map
Nucleo-h743zi2/build/nuc-h7-uvc.hex
Nucleo-h743zi2/build/nuc-h7-uvc.elf
Nucleo-h743zi2/build/nuc-h7-uvc.bin
*.log
*.o
*.d
*.lst
/Makefile
*.bin
*.elf
*.hex
*.map
*.map
/doc/*.dtmp
